html, body {
height: 100%;
min-height: 100%;
width: 100%;
margin: 0;
background-image: linear-gradient(red, blue, green);
background-repeat: none;
background-size: cover;
overflow-y: visible;
overflow-x: hide;
}

#parent {
padding: 0;
width: 100%;
overflow-y: visible;
overflow-x: visible;
display: grid;
grid-template-columns: 12.5vw 75vw 12.5vw;
margin-left: 0;
}


#one {
background-color: transparent;
}
#two {
background-image: linear-gradient(#fcff28 0%, white 250px);
}

            #biolink {
                color: blue;
                text-decoration: underline;
            }

            label {
                justify-content: right;
            }


            input[type=checkbox] {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            label { 
            -webkit-appearance: push-button;
            -moz-appearance: button; 
            display: inline-block;
            margin: 60px 0 10px 0;
            cursor: pointer;
            }

            #bio {
                display: none;
            }

            #bio p {
                font-size: 1em;
            }

            input[type=checkbox]:checked ~ #bio {
                display: block;}


video {
    width: 100%;
    max-height: calc(100vh - 250px);
}

#owensong {
    margin-left: calc(50% - 175px);
    margin-right: calc(50% - 175px);
}


#two p {
line-height: 1.5; 
}

@media only screen and (max-width: 600px) {
#parent {
display: block;
width: 100vw;
}

#one {
display: none;
}

#two {
    width: 100vw;
    padding-left: 0;
    min-height: calc(100vh - 100px)

}

}